@model Termin

<h2>Neuen Termin anlegen</h2>
<form method="post">
    <label>Kunde:</label>
    <input type="text" name="Kunde" class="form-control" required />

    <label>Datum:</label>
    <input type="datetime-local" name="Datum" class="form-control" required />

    <label>Notiz:</label>
    <textarea name="Notiz" class="form-control"></textarea>

    <button type="submit" class="btn btn-success mt-2">Speichern</button>
</form>
